@import "/src/styles/colors.scss";

.search_bar_container {
  margin: 30px auto 0 auto;
  padding: 24px;
  background-color: $primary-color;

  h2 {
    text-align: center;
    color: $background-color;
    margin-bottom: 12px;
    margin-top: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.search_bar {
  position: relative;
  width: max-content;
  margin: 0 auto;

  .icon {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    color: $primary-color;
    pointer-events: none;
  }

  input {
    margin: 0 auto;
    padding: 0px 50px 0px 18px;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 32px;
    width: 300px;
    height: 44px;
    display: flex;
    background: #fff;
    border: 1px solid #eee;
    color: $primary-color;
  }
}
